/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



/*  CSSZINHOW  */

body {
    max-width: 100vh;
    max-height: 100vh;
}

header {
    background-color: #c5f1e1b1;
    background-image: url(./assets/monazinha1.png);
    background-size: cover;
    border: 2px solid #10dc9eaf;
    padding-bottom: 7vh;
}

.charlato {
    font-size: 3.5vh;    
    margin-top: 3vh;
    position:relative;
    text-align: start;
    visibility: hidden;
    width: auto;
}

/*.avocado {
    align-items: center;
    display: flex;
    height: auto;    
    justify-content: flex-start;
    position: absolute;
    width: 10px;    
} */

#template {
    background-image: url(./assets/leyeah2.png);
    background-size: cover;
    border: 2px solid #10dc9eaf;
    padding-bottom: 40vh;
    padding-top: 5vh;
}

.players,
.players1 {    
    align-items: center;
    background-color: #7813ae47;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(7, 2, 2, 0.7);
    display: flex;
    font-size: 6vh;
    justify-content: center;
    margin: 5vh 10vh 5vh 10vh;

}

.wrapper {
    align-items: center;
    display: flex;
    flex-direction: row; 
    justify-content: center;
}


.minus, .minus1 {
    align-items: center;
    background-color: #f7791140;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(7, 2, 2, 0.7);
    display: flex;
    font-size: 6vh;
    width: 5vh;
    justify-content: center;
}

.num, .num1 {
    align-items: center;
    background-color: #f7791140;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(7, 2, 2, 0.7);
    display: flex;
    font-size: 6vh;
    width: 5vh;
    justify-content: center;  
}

.plus, .plus1 {
    align-items: center;
    background-color: #f7791140;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(7, 2, 2, 0.7);
    display: flex;
    font-size: 6vh;
    width: 5vh;
    justify-content: center;
}

#start, #show, #showSecret {
    border-radius: 12px;
    display: block;
    height: 10vh;
    margin: auto;
    position: relative;        
    width: 10vh;    
}


#start {
    position: absolute;
    top: 70vh;
    right: 0;
    bottom: 0;
    left: 0;
    border: red;
}

#show {
    border: red;    
    bottom: 16vh;
}

#showSecret {
    position: absolute;
    top: 70vh;
    right: 0;
    bottom: 0;
    left: 0;
    border: red;
}